$mainBackground: #373737;
$hoverBasic: #FF0000;

@mixin pseudo ( $pos: absolute, $content: ''){
    content: $content;
    position: $pos;
  }

  @mixin title-h2 {
    font-family: 'Jura', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
  }

.Main {
    margin: 0 auto;
    background-color: $mainBackground;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    img {
        width: 100%;
    }
}

.main-wrapper {
    margin: 0 auto;
    padding: 0 120px 120px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0 88px 0;
    margin-bottom: 88px;
    cursor: pointer;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .svg {
        margin-bottom: 30px;
        transition-duration: 0.2s;
    }

    a {
        text-decoration: none;
        font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
        font-size: 17px;
        line-height: 21px;
        color: #ffffff;
        font-weight: 500;
        transition-duration: 0.2s;
        opacity: 40%;
    }
}

.menu-element {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .svg {
        filter: brightness(0) saturate(100%) invert(12%) sepia(97%) saturate(6206%) hue-rotate(0deg) brightness(107%) contrast(114%);
    }

    &:hover a {
        color: $hoverBasic;
        opacity: 100%;
    }
}

.nav-menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.collection-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.banner {
    width: 49.2%;
    margin-bottom: 25px;
    position: relative;

    & .banner-img {
        border-radius: 14px;
        width: 100%;
        height: 100%;
    }
}

.banner-text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 26px;
    width: 92%;
    padding: 0 26px;

    p {
        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 10%;
    margin-bottom: 50px;
}

.title-new-popular {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
        font-size: 17px;
        margin: 0;
        font-weight: 600;
        opacity: 50%;
        position: relative;
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover {
            opacity: 100%;

            &::before {
                @include pseudo;
                top: 21px;
                left: 1px;
                width: 100%;
                height: 2px;
                background-color: #C80000;
            }
        }
    }

    & .new {
        margin: 0 27px 0 33px;
    }
}

.content-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.content-img {
    margin-right: 0;
}

.content-text {
    width: 56%;

    h2 {
        @include title-h2;
        margin: 0 0 50px 0;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        margin: 0 0 35px 0;
    }

    & .title {
        margin-bottom: 0;
    }
}

// section-interesting

.about-knife {
    @include title-h2;
    margin-bottom: 37px;
}

.section-interesting {
    display: flex;
}

.interesting-item {
   
    
}







@media (max-width: 991px) {
    .main-wrapper {
        padding: 0 69px 0;
    }

    .menu-list {
        padding: 0 60px 0;
    }

    .banner {
        width: 100%;
        margin: 0 0 52px 0;
    }
}

@media (max-width: 768px) {
    .menu-list {
        padding: 0;
        margin-bottom: 72px;

        div {
            margin-right: 20px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

