$backgroundItem: #272727;
$newProduct: #FF3232;
$hoverBasic: #FF0000;
$hoverPluc: #C80000;

.item-card,
.item-card-catalog {
    -webkit-tap-highlight-color: transparent;
    width: 23.8%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.item-card-catalog {
    width: 30.8%;
}

.item-img {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 95px 11px;
    background-color: $backgroundItem;
    margin-bottom: 12px;
    border-radius: 14px;
    transition-duration: 0.3s;

    a > img {
        width: 100%;
    }

    &:hover {
        box-shadow: 0 10px 18px -7px rgba(0,0,0,0.4);
    }

    &:hover .plus {
        background-color: $hoverPluc;
    }
}

.basket {
    display: none;
}

.plus {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    top: 25px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
        width: 72px;
        border-radius: 18px;
        background-color: $hoverPluc;
        justify-content: space-around;

        .basket {
            display: block;
        }
    }
}

.item-text {
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;

    a {
        font-weight: 500;
        margin: 0;
        text-decoration: none;
        color: #ffffff;
        transition-duration: 0.3s;

        &:hover {
            color: $hoverBasic;
        }
    }
}

.item-price {
    display: flex;

    p {
        font-weight: 600;
        margin: 0;
        opacity: 50%;
        margin-right: 28px;
    }

    .new-product {
        color: $newProduct;
        opacity: 100%;
    }
}

@media (max-width: 991px) {
    .item-card {
        width: 32.3%;
        margin: 0 0 20px 0;
    }

    .item-card-catalog {
        width: 46.8%;
        margin-bottom: 0;
    }

    .item-img {
        padding: 85px 0;
        margin-bottom: 8px;
    }

    .item-text {
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .item-card {
        width: 46%;
        margin: 0 0 30px 0;
    }

    .item-card-catalog {
        width: 83.8%;
    }

    .item-img {
        padding: 75px 0;

        a {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .item-card {
        width: 48%;
    }

    .item-card-catalog {
        width: 90.8%;
    }

    .item-card-catalog {
        width: 47.8%;
        margin-bottom: 25px;
    }

    .item-img {
        padding: 14px 0;
        margin-bottom: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        &:hover {
            box-shadow: none;
        }
    }

    .plus {
        height: 28px;
        width: 28px;
        top: 15px;
        right: 15px;
    }

    .item-text {
        background-color: #272727;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        padding: 0 8px 15px;

        a {
            font-size: 11px;
            line-height: 13px;
            margin-bottom: 0;
        }

        p {
            opacity: 100%;
        }
    }
    
    .new-product {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .plus {
        flex-direction: column;
        height: 26px;
        width: 26px;
        top: 10px;
        right: 10px;

        &:hover {
            flex-direction: column;
            height: 56px;
            width: 28px;
            border-radius: 12px;
        }
    }
}

