.Menu {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    transform-origin: left;
    transform: translateX(-150%);
    transition: all ease-in-out 0.6s;
    width: 450px;
    height: 100%;

    &__wrapper {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: -10;
    }

    &__content {
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
        padding: 80px 5%;
        backdrop-filter: blur(8px);
        height: 100%;
        width: 90%;

        ul {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
        }

        li {
            list-style-type: none;
            width: 100%;
            cursor: pointer;
            background: #373737a7;
            border-radius: 8px;
            position: relative;
            transition: width 0.3s;

            & .lunges {
                position: absolute;
                max-height: 0;
                width: 0;
                overflow: hidden;
                top: 40px;
                left: 30px;
                background-color: rgba(55, 55, 55, 1);
                border-radius: 8px;
                z-index: 1001;
                color: #FFF;
                transition: max-height 1s;
                transform-origin: top;

                :first-child {
                    border-radius: 8px 8px 0 0;
                }

                :last-child {
                    border-radius: 0 0 8px 8px;
                }

                a {

                    display: block;

                    &:not(:first-child) {
                        border-top: 1px solid #fff;
                    }

                    &:hover {
                        background-color: rgb(0, 0, 0);
                        color: #fff;
                    }
                }
            }

            &:hover .lunges {
                max-height: 100vh;
                width: 90%;
                border: 2px solid rgba(255, 255, 255, 0.6);
            }
        }

        a {
            display: block;
            padding: 10px 15px;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 10px;
            width: 10px;
            cursor: pointer;
            padding: 15px;
            margin: 10px;
            -webkit-tap-highlight-color: transparent;

            span {
                display: block;
                height: 3px;
                width: 100%;
                background: #fff;
                position: absolute;
                left: 50%;
                top: 50%;

                &:first-child {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:not(:first-child) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        .filterLinks {
            padding-bottom: 60px;
            border-bottom: 1px solid rgb(255, 255, 255);

            :not(a):hover {
                background: #373737;
            }

            li {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-transform: uppercase;

                &:hover a {
                    opacity: 0.4;
                }
            }
        }

        .mainLinks {

            li {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                opacity: 0.4;
                background: #FFF;

                a {
                    color: #000;
                }
            }

            :hover {
                background: #373737;
                color: #fff;
                width: 90%;
                opacity: 1;
                border-radius: 8px;
            }
        }
    }
}

@media (max-width: 767px) {
    .Menu {
        width: 320px;

        &__content {
            width: 90%;

            .close {
                top: 10px;
                right: 10px;
            }

            .filterLinks {
                width: 90%;

                :not(a):hover {
                    width: 100%;
                }

                li {
                    font-size: 15px;
                }
            }

            .mainLinks {
                width: 90%;

                :not(a):hover {
                    width: 95%;
                }

                li {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .Menu {


        &__content {
            width: 80%;
            padding: 80px 10%;

            .close {
                top: 10px;
                right: 10px;
            }

            .filterLinks {
                width: 100%;

                :not(a):hover {
                    width: 100%;
                }

                li {
                    font-size: 13px;
                }
            }

            .mainLinks {
                width: 95%;

                :not(a):hover {
                    width: 110%;
                }

                li {
                    font-size: 13px;
                }
            }
        }
    }
}


.active {
    transform: translateX(0);

    .Menu__wrapper {
        display: block;
    }
}