$mainBackground: #373737;
$hoverBasic: #FF0000;

@mixin pseudo ($pos: absolute, $content: '') {
    content: $content;
    position: $pos;
}

@mixin title-h2 {
    font-family: 'Jura', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

.Main {
    margin: 0 auto;
    background-color: $mainBackground;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    img {
        width: 100%;
    }
}

.main-wrapper {
    margin: 0px auto;
    padding: 0 120px 0;
}

.menu-list {
    -webkit-tap-highlight-color: transparent;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 88px 0;
    margin-bottom: 88px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .svg {
        margin-bottom: 30px;
        transition-duration: 0.2s;
    }

    .menu-element-item {
        font-size: 17px;
        line-height: 21px;
        font-weight: 500;
        transition-duration: 0.2s;
        opacity: 40%;
        color: #fff;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;

        &:hover {
            .menu-element-item {
                opacity: 100%;
            }
        }
    }

    .menu-element-item.active {
        .svg {
            filter: brightness(0) saturate(100%) invert(12%) sepia(97%) saturate(6206%) hue-rotate(0deg) brightness(107%) contrast(114%);
        }

        opacity: 100%;

        .menu-element-item {
            color: $hoverBasic;
            opacity: 100%;
        }
    }
}

.menu-element {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .svg {
        filter: brightness(0) saturate(100%) invert(12%) sepia(97%) saturate(6206%) hue-rotate(0deg) brightness(107%) contrast(114%);
    }

    &-item {
        opacity: 100%;
    }

    &:hover {
        .menu-element-item {
            opacity: 100%;
        }
    }
}

.block-hidden-mob,
.collection-knives-min {
    display: none;
}

.nav-menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.collection-item {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.banner {
    width: 49.2%;
    margin-bottom: 25px;
    position: relative;

    .banner-img {
        border-radius: 14px;
        width: 100%;
        height: 100%;
    }

    .banner-text {

        img {
            height: 100%;
            width: 100%;
            transform-origin: left;
            cursor: pointer;

            &:hover {
                transform: scaleX(2);
            }
        }
    }
}

.banner-text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 26px;
    width: 92%;
    padding: 0 26px;

    p {
        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 10%;
    margin-bottom: 60px;
}

// section new-popular product
.switcher-new-popular {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h3 {
        font-size: 17px;
        margin: 0;
        font-weight: 600;
        opacity: 50%;
        position: relative;
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover {
            opacity: 100%;

            &::before {
                @include pseudo;
                top: 21px;
                left: 1px;
                width: 100%;
                height: 2px;
                background-color: #C80000;
            }
        }
    }

    h3.active {
        opacity: 1;

        &::before {
            @include pseudo;
            top: 21px;
            left: 1px;
            width: 100%;
            height: 2px;
            background-color: #C80000;
        }
    }

    & .new {
        margin: 0 27px 0 33px;
    }
}

// section content about knifes

.content-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.content-text {
    width: 56%;

    h2 {
        @include title-h2;
        margin: 0 0 50px 0;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        margin: 0 0 35px 0;
    }

    & h2:last-child {
        margin-bottom: 0;
    }
}

.hidden {
    display: none
}

// section interesting

.about-knife {
    @include title-h2;
    margin-bottom: 37px;
}

.section-interesting {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}



.interesting-item {

    width: 31.7%;
    border-radius: 18px;
    position: relative;

    p {
        font-size: 14px;
        margin: 0;
    }

    img {
        width: 100%;
    }

    &::before {
        @include pseudo;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        opacity: 0.8;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
    }
}

.data-item {
    position: absolute;
    top: 23px;
    right: 25px;
}

.title-item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.3s;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;

    a {
        display: block;
        font-size: 17px;
        font-weight: 500;
        width: 70%;
        margin-left: 15px;
        padding: 33px 25% 33px 0;
    }

    &:hover {
        background-color: $hoverBasic;
    }
}


@media (max-width: 991px) {
    .main-wrapper {
        padding: 0 69px 0;
    }

    .menu-list {
        padding: 0 60px 0;
    }

    .banner {
        width: 100%;
        margin: 0 0 52px 0;
    }

    .title-item {
        padding: 23px 0;

        a {
            width: 90%;
            font-size: 16px;
        }
    }
}


@media (max-width: 768px) {
    .menu-list {
        padding: 0;
        margin-bottom: 72px;

        div {
            margin-right: 20px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .collection-item {
        margin-bottom: 0;
    }

    .content-item {
        justify-content: space-between;
    }

    .content-text {
        width: 47%;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 24px;
            margin-bottom: 25px;
        }

        p {
            color: #ADACAC;
            margin-bottom: 25px;
        }

        & .order {
            order: -1;
            margin-bottom: 25px;
        }
    }

    .invisible {
        display: none;
    }

    .content-img {
        img {
            width: 300px;
        }
    }

    .hidden {
        display: flex;
    }

    .section-interesting {
        flex-direction: column;
        align-items: center;

        & div:last-child {
            margin-bottom: 0;
        }
    }

    .interesting-item {
        width: 100%;
        margin-bottom: 35px;
    }

    .title-item {
        a {
            font-size: 22px;
            margin-bottom: 20px;
            width: 70%;
        }
    }
}


@media (max-width: 575px) {
    .main-wrapper {
        padding: 0 35px 0;
    }

    .block-hidden {
        display: none;
    }

    .block-hidden-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;

        a {
            @include title-h2;
            font-size: 18px;
            margin-bottom: 10px;

            &:hover {
                color: $hoverBasic;
            }
        }

        p {
            font-size: 13px;
            margin-bottom: 65px;
        }
    }

    .content-mobail-img {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .accessories {
        margin-bottom: 27px;

        h3 {
            position: relative;
            @include title-h2;
            font-size: 18px;

            &:hover {
                &::before {
                    @include pseudo;
                    top: 21px;
                    left: 1px;
                    width: 100%;
                    height: 2px;
                    background-color: #C80000;
                }
            }
        }
    }
}


@media (max-width: 375px) {
    .main-wrapper {
        padding: 0 20px 0;
    }

    .collection-knives-min {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
}