.filter {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ADACAC;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #4F4F4F;

    .nav {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;

        h3 {
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
        }

        &:hover {
            path {
                fill: #FFFFFF;
            }
        }

        .arrow {
            height: 20px;
            width: 20px;
            padding: 15px 0 15px 15px;
        }
    }

    .hidden {
        display: none;
    }

    .links {
        width: 100%;
        margin: 30px 0 0 0;
        padding: 0;
        list-style-type: none;
        transform-origin: top;
        transition: all 1s;

        li {
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
            margin-bottom: 10px;
            cursor: pointer;
            display: block;
            height: 100%;
            width: 100%;
            color: #ADACAC;

            &:hover {
                color: #FFFFFF;
            }
        }
    }

    h3 {
        margin: 10px 0;
    }

    &:hover {
        color: #FFFFFF;
    }
}